<!--PRELOADER-->
	<section id="jSplash">
		<div id="circle"></div>
	</section>
	
	<!--SLIDESHOW-->	
	<ul class="cb-slideshow">
            <li><span>Image 01</span><div><h3>HTML5</h3></div></li>
            <li><span>Image 02</span><div><h3>CSS3</h3></div></li>
            <li><span>Image 03</span><div><h3>Ruby</h3></div></li>
            <li><span>Image 04</span><div><h3>Rails</h3></div></li>
            <li><span>Image 05</span><div><h3>jQuery</h3></div></li>
            <li><span>Image 06</span><div><h3>CMS</h3></div></li>
        </ul>

	<!--ANIMATED TEXT-->	
	<div id="content">
		<div class="soon wow slideInLeft"  data-wow-delay="7s">It's almost ready</div>
		<h1 class="wow bounceInDown" data-wow-duration="3s" data-wow-delay="4s">WEBSITE COMING SOON</h1>
		<div class="name wow bounceInDown" data-wow-duration="3s" data-wow-delay="2s">Bespoke - Responsive - Professional</div>
		<div class="wow bounceInUp" data-wow-duration="3s" data-wow-delay="2s">
		<div class="heart animated"></div>
		</div>
	</div>
	
	<!--SUBSCRIBE BUTTON--> 
	 <div class="subscribe wow rollIn center" data-wow-delay="6s" data-target="#full-width"  data-toggle="modal">Contact</div>

	<!--MODAL BOX-->
		<div id="full-width" class="modal container fade" style="display: none;">
			<div class="modal-body">
				
						<div class="col-md-12">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								<i class="fa fa-times"></i></button>
									<div class="pad30"></div>
								<h1>Shwmae!</h1>		
							<p class="lead">
								Don't say you don't have enough time. You have exactly the same number of hours per day that were given to Helen Keller, Pasteur, Michaelangelo, Mother Teresa, Leonardo da Vinci, Thomas Jefferson, and Albert Einstein - <a href="http://en.wikipedia.org/wiki/H._Jackson_Brown,_Jr." target="_blank">H. Jackson Brown Jr</a>
							</p>		
					
					<div class="pad16"></div>
					   				
						<div class="col-md-6 ">
							<h2>About Me</h2>
							<p>
								My name is Richard Lewis, a Web Developer and Software Tester from Sunny Wales..Luckily for me I'm not a sun person...I love what I do and hope that it reflects in the work I produce. If you feel that i can help you with your next venture or project then please get in touch.
							</p>
							
							<h3>Here's an Overview of what I build</h3>
							<ul class="fa-ul pad16">
								<li><i class="fa-li fa fa-check"></i>Responsively Designed Websites</li>
								<li><i class="fa-li fa fa-check "></i>Content Management Systems</li>
								<li><i class="fa-li fa fa-check"></i> Static Websites</li>
							</ul>
							
						</div>
						
						<div class=" col-md-6">	
							<h2>Client Feedback</h2>
								<p>
									I believe that client feedback is very important, I take great satisfaction and pride when someone is willing to take the time to let you know, so below are a few things that clients (though I would like to think we are now friends) have said...
								</p>
								
								<blockquote>The quality of service offered by Richard Lewis has been highly impressive. Every aspect of my website has been beyond my expectations. Proffessional, High Quality and up to date. - Bryony Gurmin <a href="http://www.bryonygurmin-personaltraining.co.uk/" target="_blank">Personal Trainer</a></blockquote>
                                <br>
								<blockquote>Richard was patient when I was overwhelmed, yet the taskmaster that I needed to keep me on track.  He helped me with insight into our business, especially what makes us unique - Michelle Jones - <a href="http://www.partnership-share.co.uk/" target="_blank">Partnership Share</a></p></blockquote>
								
								
							</div>	
							
							<div class="col-md-12 text-center">
							<div class="pad50"></div>
							<!--SUBSCRIBE FORM-->	
							<div class="contact_form">  
								<div id="note"></div>
									<div id="fields">
									<form id="contact-form" action="/" method="post">
										
										  <input id="inputName" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2" type="text" name="name" value="" placeholder="Your Name" />

									    
										  <input id="inputEmail" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8" type="text" name="email" value="" placeholder="Your Email"/>

										
										  <textarea id="inputMessage" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8" type="text" name="message" value="" placeholder="Your Message"></textarea>

										<div class="hidden">
                                          <input name="ghost" type="text" class="inputGhost"/>
                                        </div>
										<input type="submit" class="btn big-button" id="validForm" value="submit" />
									<div class="pad50"></div>
									<div class="clear"></div>
								</form>  
							</div>
						</div>
							
								<a href="https://twitter.com/richl14" target="_blank"><i class="fa fa-twitter pad-right15 social"></i></a>
								<a href="https://github.com/richlewis14" target="_blank"><i class="fa fa-github pad-right15 social"></i></a>
								<a href="http://www.linkedin.com/pub/richard-lewis/56/29b/687" target="_blank"><i class="fa fa-linkedin pad-right15 social"></i></a>
								<div class="pad16"></div>
								
						</div>
					</div>
					</div>
						</div>
							<!--//END MODAL BOX-->

<!-- JS Scripts  Dev
<%= javascript_script_tag "/assets/js/jquery.js"%>
<%= javascript_script_tag "/assets/js/bootstrap.min.js"%>
<%= javascript_script_tag "/assets/js/scripts.js"%>
<%= javascript_script_tag "/assets/js/wow.js"%>-->

<!-- JS Script Production -->
<%= javascript_script_tag "/assets/js/application.min.js"%>
<script>
//<![CDATA[
new WOW().init();
//]]>	
</script>


