<!DOCTYPE html>
<html lang="en">
<head>
<title>Richard Lewis</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Richard Lewis Landing Page" />
<meta name="keywords" content="Web Development, Websites, Ruby, Rails, Ruby On Rails, Bepsoke Websites " />
<meta name="author" content="Richard Lewis" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!--GOOGLE FONT-->
<link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800' rel='stylesheet' type='text/css'>

<!-- CSS Production -->
<%= stylesheet_link_tag "/assets/css/application.min.css" %>


<!-- CSS Development 
<%= stylesheet_link_tag "/assets/css/a-bootstrap.min.css" %>
<%= stylesheet_link_tag "/assets/css/b-font-awesome.min.css" %>
<%= stylesheet_link_tag "/assets/css/c-style.css" %>
<%= stylesheet_link_tag "/assets/css/d-responsive.css" %>-->

<!-- JS Scripts -->
<%= javascript_script_tag "/assets/js/modernizr.custom.js"%>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

 <body>

    <%= yield %>
   
</body>
</html>