<!--MODAL BOX-->
		<div id="full-width" class="modal container fade thankyou">
			<div class="modal-body">
			  <div class="col-md-12">
				  <div class="pad30"></div>
					  <h1>Diolch!</h1>		
						  <p class="lead">Thank you for getting in touch, I will get back you as soon as I can and look forward to creating something special with you.</p>
						    <a href='/' class="btn big-button">Home</a>
                <div class="pad50"></div>
							    <div class="col-md-12 text-center">
							      <div class="pad50"></div>
											<a href="https://twitter.com/richl14" target="_blank"><i class="fa fa-twitter pad-right15 social"></i></a>
											<a href="https://github.com/richlewis14" target="_blank"><i class="fa fa-github pad-right15 social"></i></a>
											<a href="http://www.linkedin.com/pub/richard-lewis/56/29b/687" target="_blank"><i class="fa fa-linkedin pad-right15 social"></i></a>
											<div class="pad90"></div>
								  </div>
				</div>
			</div>
		</div>
<!--//END MODAL BOX-->
<!-- JS Development 
<%= javascript_script_tag "/assets/js/jquery.js"%>
<%= javascript_script_tag "/assets/js/bootstrap.min.js"%>-->

<!-- JS Production -->
<%= javascript_script_tag "/assets/js/success.min.js"%>
<script type="text/javascript">
    $(window).load(function(){
        $('.modal').modal('show');
    });
</script>