
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { .subscribe  { top: 20px!important;}
}

@media all and (min-width: 321px) and (max-width: 568px) {
	#content { margin-top:60px; }
	h1 {font-size: 40px!important;}
	.name { font-size: 12px; margin-top:-10px; }
	.soon {font-size: 12px; margin-bottom:8px }
	.subscribe  { top: 10px; }
	.heart {display:none; } 
	.modal-body .lead{ letter-spacing: -1px; font-size: 25px!important; line-height: 35px; width:100%!important; }
	i.social { font-size:30px!important; }
}

@media all and (max-width: 320px) {
	#content { margin-top:60px; }
    h1 { font-size: 40px!important; margin-bottom:-10px!important;}
	.name, .soon { font-size: 12px; }
	.subscribe { top: 20px; }
	.heart {display:none; } 
	.modal-body .lead { letter-spacing: -1px; font-size: 20px!important; line-height: 35px; width:100%!important; }
	.time {width:56px; }
	.number {font-size:26px!important;}
	i.social { font-size:30px!important; margin-bottom:10px; }
	.modal-body {padding: 10px 0px 0px 0px;}
	blockquote {padding:5px 0px 5px 10px;font-size:16px;}
}

@media screen and (max-width: 1140px) { .cb-slideshow li div h3 { font-size: 140px; }
}
@media screen and (max-width: 600px) { .cb-slideshow li div h3 { font-size: 60px; line-height:50px; }
}

@media (min-width: 1200px) {
.modal.container { width: 1170px; margin-left: -585px; }
}

@media (max-width: 979px) {
.modal, .modal.container, .modal.modal-overflow 	{
	top: 1%;
	right: 1%;
	left: 1%;
	bottom: auto;
	width: auto !important;
	height: auto !important;
	margin: 0 !important;
	padding: 0 !important;
}
.modal.fade.in, .modal.container.fade.in, .modal.modal-overflow.fade.in { top: 1%; bottom: auto; }
.modal-body, .modal-overflow .modal-body {
	position: static;
	margin: 0;
	height: auto !important;
	max-height: none !important;
	overflow: visible !important;
	}
}
